/* header */
header {
    background-image: linear-gradient(to right, #0917aa , #5159aa);
    color: white;
    padding: 20px;
    border-radius: 7px;
    border: 2px solid white;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header > nav > ul {
    list-style: none;
    text-align: right;
}

header > nav > ul > li {
    display: inline-block;
    padding: 0px 10px;
    font-size: 110%;
}

.logo {
    display: inline-block;
    height: 36px;
    margin: 12px 0 12px 25px;
}

.logo > img { 
    height: 36px;
}
nav {
    float: right;
}

/* body */
body {
    color: #58666e;
    background-color: #f0f3f4;
}

/* main */
main {
    margin-top: 105px;
}

/* aside */
aside {
    min-width: 200px;
    height: 85vh;
    position: fixed;
}

aside.left {
    background-color: #333;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .2);
    left: 0;
}

aside.right {
    background-color: white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);
    text-align: center;
    right: 0;
}

aside > ul > li {
    list-style: none;
    color: white;
}

aside > ul > li > a {
    display: block;
}

aside > ul > li > a:hover:not(.active) {
    background-color: #b8bbd5;
}

/* section */
section {
    padding-left: 230px;
    padding-right: 230px;
}

/* article */
article {
    margin: 10px;
    padding: 25px;
    background-color: white;
    border-radius: 7px;
}

/* elements */
.div-table {
    float: left;
    padding: 0 30px;
    border: 1px solid grey;
}

.parent {
    border: 3px solid rgb(126, 126, 177);
}

.child {
    border: 3px solid rgb(185, 114, 114);
    position: static;
    top: 80px;
    left: 80px;
}

.media-container {
    background-color: rgb(228, 214, 82);
    height: 100px;
    padding-top: 5px;
}

@media (min-width: 800px) and (max-width: 1024px) {
    .media-container {
        background-color: rgb(222, 153, 69);
    }
}

@media (max-width: 800px) {
    .media-container {
        background-color: rgb(197, 87, 87);
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.grid-container {
    display: grid;
    grid-template-rows: auto;
}

@media (min-width: 800px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.layout-item {
    padding: 0 30px;
    border: 1px solid black;
}

/* footer */
footer {
    clear: both;
    color: lightgray;
    margin-top: 100px;
    position: absolute;
    height: 60px;
    width: 100%;
    line-height: 60px;
    border-top: 1px solid #dee5e7;
    background-color: #ffffff;
    text-align: center;
}


